header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

header img {
   border-radius: 100%;
   height: 10%;
   width: 10%;
}

.topnav {
   overflow: hidden;
   background-color: #333;
}
  
  
.topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
  
.topnav a:hover {
   background-color: #ddd;
   color: black;
}

.column {
   float: left;
   width: 30%;
   margin-left: 7%;
}

.column-main{
   float: left;
   width: 60%;
   padding: 15px;
}

.column-main p{
    text-align: justify;
}
  
.row:after {
   content: "";
   display: table;
   clear: both;
}

iframe {
   width: 420px;
   height: 230px;
   border-radius: 10px;
}

#history {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}
  
 #history td, #history th {
   border: 1px solid #ddd;
   padding: 8px;
}
  
#history tr:nth-child(even){background-color: #f2f2f2;}
#history tr:nth-child(odd){background-color:  #ddd;}  
#history tr:hover {background-color: #04AA6D;;}

#history tr {
 text-align: center;
}

#history th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: center;
   background-color: #04AA6D;
   color: white;
}
  
.footer {
   background-color: #F1F1F1;
   text-align: center;
   padding: 10px;
}

input[type=text], select {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 
 input[type=submit] {
   width: 100%;
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 input[type=submit]:hover {
   background-color: #45a049;
 }
 
 .form-kepo {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }
 
 @media screen and (max-width:720px) {
   .column-main{
      width: 95%;
      
   }
   .column {
     width: 80%;
    }
    .icon-switch{
      height: 10% ;
      width: 10%;
   } 
   header img {
      border-radius: 100%;
      height: 15%;
      width: 15%;
   }
}
